<div class="home_bg">
    <div class="container"><%#HOMEのジャンボトロン＆写真%>
        <h1 class="text-center m-4">Learn English</h1>
        <p class="text-center">Let's start to learn English!</p>
        <img src="assets/home_bg_pic.JPG" class="img-fluid" alt="homepicture">
    </div>
</div>