<!--もともとUsers#newだったところ-->
<div class="signup_bg">
    <br>
    <div class="jumbotron w-50 ">
        <h1 class="text-center">Sign Up</h1>
        <div class="container">
            <%= render 'users/form' %><!--パーシャルファイルの_formから引っ張ってきて表示-->
        </div>
    </div>
</div>