<div class="index_bg">
    <div class="index_box text-center">
        <br>
        <h1 class="admin_title">Administer Categories</h1><!--Administer = 管理する-->
        <%= link_to "New Category", new_admin_category_path, class: "btn bg-info btn-lg btn-block text-white" %>
    </div>
</div>