@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.signup_bg{
  background-image: url(login_bg_pic.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: inherit;
  height: 90vh;
}

.jumbotron{
  margin: 0 auto;
}

.login_bg{
  background-image: url(loginpg_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: inherit;
  height: 90vh;
}

.edit_bg{
  background-image: url(edit_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: inherit;
  height: 90vh;
}

.index_bg,.word_bg{
  background-image: url(index_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: inherit;
  height: 90vh;
}

.admin_new_bg,.word_new_bg{
  background-image: url(admin_new_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: inherit;
  height: 90vh;
}

.des_form{
  height: 150px; 
}

.admin_title,.word_title{
  margin-bottom:80px;
  font-family: 'Source Serif Pro', serif;
  font-family: 'Dosis', sans-serif;
  font-size:3.5rem;
}

.index_box,.word_box{
  width:700px;
  height:300px;
  margin: 0 auto;
  margin-top: 50px;
  padding:25px;
  background-color: rgba(142, 175, 175, 0.5);
}

/*index table including categories*/

.index_category_table{
  width:700px;
  margin:0 auto;
}

table{
  width:700px;
  border:solid 1.5px white;
  border-collapse: collapse;
  background-color: rgba(189, 243, 238, 0.87);
}

table th, table td{
  padding : 20px 10px;
  border:solid 1.5px white;
}

/*paginateのデザイン*/

.paginate{
  nav {
    display: inline-block;
  }
}

/*word編集のshowページ*/
.word_box{
  background-color: rgba(186, 199, 127, 0.5);
}

.words_show_table{
  width:700px;
  margin:0 auto;
}



/*新規作成のnewページと、編集editページの透過コンテナ*/
.new_edit_container{
  background-color:rgba(255, 255, 255, 0.40);
  border-radius: 5px;
}

.choices_form{
  width: 95%;
}

/*レッスンページのコンテナ幅*/
.lesson-container{
  width: 60%;
}

.answer-container{
  width: 60%;
  margin:50px auto;
}

.lessons_show_table{
  margin:0 auto;
  width:60%;
}

/*users一覧ページ*/
.each_user_box{
  border:solid 1.5px rgb(141, 134, 134);
  border-radius: 3px;
}

.useravatar{
  border-radius: 50%;
}

/*dashboad*/
.iconpic{
  margin:0 auto;
}